body {
    position: relative;
    background: rgb(27, 20, 111);
    background: linear-gradient(
            131deg, rgba(27, 20, 111, 1) 0%,
            rgba(9, 9, 121, 1) 19%,
            rgba(27, 101, 116, 1) 100%
    );
    padding: 0;
    margin: 0;
    height: 100vh;
}

body:before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    top: 100px;
    left: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.card {
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    color: #fefefe;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card .card-title {
    position: absolute;
    font-size: 2rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.1);
    top: 1rem;
    right: 1rem;
}

.card .card-title h1 {
    width: max-content;
    margin: 0;
}

.card .card-action {
    margin-top: 2rem;
}

.card .card-action a {
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
    font-size: 1rem;
    padding: .5rem 1.5rem;
    transition: .3s;
}

.card .card-action a:hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
